@font-face {
  font-family: myFont;
  src: url(./bruno-ace-sc/Bruno\ Ace\ SC\ Regular.ttf);
}

.font {
  font-family: myFont;
}

.hero-layout {
  display: flex;
}

.hero-right {
  margin: auto;
  text-align: center;
  font-size: 28px;
}

.hero-img {
  width: 100%;
  height: auto;
}

.img {
  width: 50%;
  height: auto;
}

.cards-div {
  position: relative;
  top: -2rem;
  height: 10rem;
}

.my-header {
  text-decoration: underline;
  text-align: center;
  margin-top: 15rem;
  font-family: myFont;
}

.price-text {
  text-align: center;
  margin-bottom: 5rem;
  font-family: myFont;
}
