* {
  margin: 0;
}

body {
  background-color: #0b0c10;
}

p {
  color: #c5c6c7;
}

nav {
  background-color: #45a29e;
  height: 5vh;
  text-align: center;
  font-size: 24px;
}

nav p {
  color: white;
  padding-top: 1vh;
}

header {
  background-color: #1f2833;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8%;
}

h1 {
  color: #66fcf1;
}

h3 {
  color: #fff;
}

button {
  background-color: #45a29e;
  border-radius: 30px;
  height: 10vh;
  width: 13vw;
  font-size: 20px;
  margin-top: 3%;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.grabber-section {
  height: 55%;
}

.sales-grabber {
  text-align: center;
  margin: 10% auto;
  width: 55%;
  font-size: 25px;
}

.p-title {
  color: #66fcf1;
  text-decoration: underline;
  font-size: 24px;
  padding: 2%;
}

.grabbers {
  display: flex;
  height: 45%;
}

.grabbers-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-items: flex-start;
  width: 50%;
  height: 50vh;
}

.grabbers-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.grabber-item {
  width: 25vw;
  font-size: 20px;
}

.itemized-section {
  background-color: #1f2833;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  padding: 5%;
}

.itemized-title {
  color: #66fcf1;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10%;
}

.itemized-text {
  font-size: 24px;
  padding-bottom: 10%;
  width: 65%;
  text-align: center;
  margin: auto;
}

.itemized-pic {
  width: 45vw;
}

/* itemized page */

.install-flex {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-size: 22px;
}

.install-header {
  background-color: #1f2833;
  padding: 10%;
}

/* How to page */
.how-to-header {
  text-align: center;
  margin: auto;
  font-size: 28px;
  background-color: #0b0c10;
}

.header-text {
  color: #66fcf1;
  text-decoration: underline;
  font-style: italic;
}

.how-to-section {
  display: flex;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.how-to-section p {
  width: 30%;
  font-size: 24px;
}

/* install page */

.step-2 {
  margin: 5% 0;
}

.step-3 {
  margin: 5% 0;
}

.step-4 {
  margin-bottom: 5%;
}

.step-2-right {
  width: 45%;
  height: 50%;
}

.step-3-img {
  margin: auto;
  width: 65%;
  height: 50%;
}

@media only screen and (max-width: 768px){}