.hero-layout {
  display: flex;
}

.hero-right {
  margin: auto;
  text-align: center;
  font-size: 28px;
}

.hero-img {
  width: 100%;
  height: auto;
}

.cards-div {
  position: relative;
  top: -2rem;
  height: 10rem;
}
